<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contacts</title>
</head>
<body>

<form class="row" id="contact-form">
    <div class="col s1">
        <button class="col s12 waves-effect waves-light btn blue darken-1" id="add-button" data-action="addContact">
            Add
        </button>
        <button class="col s12 waves-effect waves-light btn blue darken-1" style="display: none"
                data-action="editContact">Edit
        </button>
    </div>
    <div class="col s1">
        <button class="col s12 waves-effect waves-light btn blue darken-1" style="display: none"
                data-action="cancelEditing">Cancel
        </button>
    </div>
    <div class="col s1">
    </div>

    <input type="hidden" name="id">
    <div class="input-field col s3">
        <input type="text" id="name" name="name">
        <label for="name">Name</label>
    </div>

    <div class="input-field col s3">
        <input id="last_name" type="text" name="lastName">
        <label for="last_name">Last Name</label>
    </div>

    <div class="input-field col s3">
        <input id="age" type="text" name="age">
        <label for="age">Age</label>
    </div>

</form>

<div class="row">
    <ul class="collection with-header" id="contact-wrapper">
        <!--        <li class="collection-header">-->
        <!--            <h4>Contacts</h4>-->
        <!--        </li>-->

    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/contacts.js"></script>
</body>
</html>