*
*.*
!/*
!/*/*
!/*/*/pom.xml
!/*/*/src/
!/*/*/src/com/
!/*/*/src/com/telran/
!/*/*/src/com/telran/*
#!/*/*/src/com/telran/**.java
!/*/*/src/com/telran/**/*

!/*/*/src/main/
!/*/*/src/main/com/
!/*/*/src/main/com/telran/
!/*/*/src/main/com/telran/*
#!/*/*/src/main/com/telran/**.java
!/*/*/src/main/com/telran/**/*

!/*/*/src/test/
!/*/*/src/test/com/
!/*/*/src/test/com/telran/
!/*/*/src/test/com/telran/*
#!/*/*/src/test/com/telran/**.java
!/*/*/src/test/com/telran/**/*


.DS_store
