<!--TODO add functionality to the template
1. Go to the materialize site and pick something suitable for
our goal
2. Go to the thymeleaf site and figure out how to print several
objects out.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<div class="row">
    <div class="col s6 offset-s3">
        <h3>Contacts</h3>
        <ul class="collection with-header">
            <li class="collection-header">
                <a class="btn-floating btn-large waves-effect waves-light blue" href="/contact/add"><i
                        class="material-icons">add</i></a>
            </li>
            <li class="collection-item" th:each="contact : ${contacts}">
                <div>
                    <a th:href="'/contact/'+${contact.id}">
                        <span th:text="${contact.name}"></span>
                    </a>
                    <a th:href="'/contact/'+${contact.id}+'/delete'" class="secondary-content red-text"><i
                            class="material-icons">delete</i></a>
                    <a th:href="'/contact/'+${contact.id}+'/edit'" class="secondary-content blue-text"><i
                            class="material-icons">edit</i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
