<form class="row" id="contact-form">
  <div class="col s1">
    <button class="col s12 waves-effect waves-light btn blue darken-1" [class.hide]="!isAddingState"
            (click)="onClickAdd()">
      Add
    </button>
    <!--  .hide - is a class from materialize to hide elements  -->
    <button class="col s12 waves-effect waves-light btn blue darken-1" [class.hide]="isAddingState"
            (click)="onClickEdit()">Edit
    </button>
  </div>
  <div class="col s1">
    <button class="col s12 waves-effect waves-light btn blue darken-1" [class.hide]="isAddingState"
            (click)="onClickCancel()">Cancel
    </button>
  </div>
  <div class="col s1">
  </div>

  <input type="hidden" name="id" [(ngModel)]="contact.id">
  <div class="input-field col s3">
    <input type="text" id="name" name="name" [(ngModel)]="contact.name">
    <label for="name">Name</label>
  </div>

  <div class="input-field col s3">
    <input id="last_name" type="text" name="lastName" [(ngModel)]="contact.lastName">
    <label for="last_name">Last Name</label>
  </div>

  <div class="input-field col s3">
    <input id="age" type="text" name="age" [(ngModel)]="contact.age">
    <label for="age">Age</label>
  </div>

</form>

