<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>Contact Form</h1>
<form action="#" th:action="@{/contact}" th:object="${contact}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Last Name: <input type="text" th:field="*{lastName}"/></p>
    <p>Age: <input type="text" th:field="*{age}"/></p>
    <p>
        <input type="submit" value="Submit"/>
        <a href="/" class="col s12 waves-effect waves-light btn blue darken-1">Cancel</a>
    </p>
</form>
</body>
</html>