<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contacts</title>
</head>
<body>

<form action="#" class="col s12 create-form" id="contact-form">
    <div class="row">
        <div class="col s1">
            <button class="col s12 waves-effect waves-light btn blue darken-1" data-action="add">Add</button>
            <button class="col s12 waves-effect waves-light btn blue darken-1" data-action="edit" style="display: none">
                Edit
            </button>
        </div>
        <div class="col s1">
            <a href="/" class="col s12 waves-effect waves-light btn blue darken-1" data-action="cancel"
               style="display: none">Cancel</a>
        </div>
        <div class="input-field col s5">
            <label class="active">Name</label>
            <input type="text" name="name">
        </div>
        <div class="input-field col s5">
            <label class="active">Last Name</label>
            <input type="text" name="lastName">
        </div>
    </div>
</form>


<div class="row">
    <ul class="collection with-header" id="contact-wrapper">
        <li class="collection-header">
            <h4>Contacts</h4>
        </li>
<!--        <li class="collection-item" th:each="contact: ${contacts}">-->
<!--            <div>-->

<!--                <a th:href="'/contact/' + ${contact.id}"><span-->
<!--                        th:text="${contact.name} + ' ' + ${contact.lastName}"></span>-->
<!--                </a>-->

<!--                <span class="secondary-content">-->
<!--                    <a th:href="'/edit-contact/' + ${contact.id}">-->
<!--                        <i class="material-icons teal-text text-darken-1">create</i>-->
<!--                    </a>-->
<!--                    <a th:href="'/remove-contact/' + ${contact.id}">-->
<!--                        <i class="material-icons  deep-orange-text text-darken-1">delete</i>-->
<!--                    </a>-->
<!--                </span>-->

<!--            </div>-->
<!--        </li>-->
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/main-page.js"></script>
</body>
</html>